<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="app.js"> </script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl" style="margin-right:300px;margin-left:200px;margin-top:20px;">
      <div class="w3-container" style="background-color: #F5F5F5;padding-bottom:50px; border-radius:6px;">
            <header class="w3-container" style="text-align:center; margin-top:20px; border-bottom: 2px groove black">
                <h2 style="color:#1E90FF">Simple CRUD Avec Angular</h2>
            </header>
            <p ><input style="margin-left:500px;" type="text" ng-model="test" placeholder="Rechercher utilisateur"></p>
            <div class="users" style="margin-top: 20px; background-color:">
              <table class="w3-table w3-bordered">
                <tr style="background-color:#B0E0E6 ; margin-bottom:50px;">
                  <td colspan="3" style="color:#1E90FF">Members Personal Information</td>
                  <td><button style="background-color:#483D8B; border-radius:2px;color:white; font-style:bold;" type="button" name="button" ng-click = "upd = !upd">+</button></td>
                </tr>
                <tr>
                  <td colspan="4">
                    <div id="addUsers" ng-show="!upd" style="color: gray;">
                      <h3 class="w3-teal">Resgister Members</h3>
                        <form>
                            <label>Full Name</label>
                            <input class="w3-input w3-border" type="text" ng-model="newMember.name" required>
                            <label>Email</label>
                            <input type="email" class="w3-input w3-border" ng-model="newMember.email" required>
                            <label>Gender</label></br>
                            <select ng-model = "newMember.gender" class="w3-input w3-border" >
                              <option value = "">Chosir Option</option>
                              <option value = "male">Male</option>
                              <option value = "female">Female</option>
                            </select></br>
                            <button class="w3-btn w3-teal w3-ripple" type="button" ng-click="saveMember()">&#10004;Save</button>

                        </form>
                    </div>
                  </td>
                </tr>
              </table>
              <table class="w3-table  w3-bordered" style="background-color:#FFFFF0;border: 1px black;color:#D2B48C">
                  <thead>
                    <tr class="w3-bordered w3-teal" style="text-align:center;border-bottom: 1px double gray;color:#DEB887; font-size:16px; font-style:bold; margin-top:120px;">
                        <td>Full Name</td>
                        <td>Email</td>
                        <td>Gender</td>
                        <td style="text-align:center">Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in members |filter:test">
                      <td>{{x.name}}</td>
                      <td>{{x.email}}</td>
                      <td>{{x.gender}}</td>
                      <td><button style="border-radius: 8px;color:white;background-color:#F4A460; width:80px;" type="button" name="button" ng-click = "selectMember(x)"> Edit</button>
                      <button style ="border-radius: 8px;color:white;background-color: #CD5C5C; width:80px;" type="button" name="button" ng-click = delete()> Delete</button></td>
                    </tr>
                  </tbody>
              </table>
            </div>

            <div class="updateUsers" ng-show="!edit">
              <h3 class="w3-teal">Updating Members</h3>
                <form>
                  <label>Full Name</label>
                  <input class="w3-input w3-border" type="text" ng-model="selectedMember.name" required>
                  <label>Email</label>
                  <input type="email" class="w3-input w3-border" ng-model="selectedMember.email" required>
                  <label>Gender</label></br>
                  <select ng-model = "selectedMember.gender" class="w3-input w3-border">
                    <option value = "">Chosir Option</option>
                    <option value = "Male">Male</option>
                    <option value = "Female">Female</option>
                  </select>
                  <button class="w3-btn w3-teal w3-ripple" type="button" ng-click="updateMember(users.name,users.email,users.gender)">Update</button>
                </form>
            </div>
      </div>
  </body>
</html>
